include AUTHORS.rst
include CHANGELOG.rst
include LICENSE
include README.rst
include requirements.txt
include requirements-dev.txt
include setup.py

recursive-include tests *
recursive-include *.py
recursive-exclude __pycache__

recursive-include docs *.rst conf.py Makefile make.bat
